# Configuration for the formater

Language: Cpp

### base config ###
basedOnStyle: Google

### indentation ###
UseTab: Never
IndentWidth: 8
TabWidth: 8
#ColumnLimit: 100
AlignConsecutiveDeclarations: true




