# Configuration for the formater

Language: Cpp

### base config ###
#basedOnStyle: Google

### indentation ###
UseTab: Never
IndentWidth: 4
TabWidth: 4

AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true
AlignTrailingComments: true

BreakBeforeBraces: Attach

PointerAlignment: Right
#PointerAlignment: Middle

ColumnLimit: 0

#AccessModifierOffset: All
# AccessModifierOffset: 4
AccessModifierOffset: 0


BinPackArguments: false

SortIncludes: Never

BreakConstructorInitializers: AfterColon

IndentCaseLabels: true

MaxEmptyLinesToKeep: 2

SpaceBeforeParens: ControlStatements

NamespaceIndentation: All

FixNamespaceComments: true

ReflowComments: false

#AllowShortIfStatementsOnASingleLine: WithoutElse
InsertBraces: true
AllowShortBlocksOnASingleLine: Never

AlwaysBreakTemplateDeclarations: No

IndentPPDirectives: BeforeHash

SpaceAfterCStyleCast: false

KeepEmptyLinesAtTheStartOfBlocks: false

AlignConsecutiveMacros: true

IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '^<.*>'
    Priority:        1       # Standard library headers first
  - Regex:           '^".*"'
    Priority:        2       # Local project headers second

AlwaysBreakAfterReturnType: None

